<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p> Welcome <%=@user.name%>, To Cipher Investments! </p>
        <p> You're probably thinking to yourself, why use the word Cipher? Well, for those of you that do not know what it means, cipher is a secret or disguised way of writing, a code.Our company is dedicated to ensure that this "secret or code" is open to the public and is fully transparent. </p>
        <br>
        <p>You may also be wondering what that "secret" might be? Well, it's the art of choosing high quality gems! Not only for personal use but also to add to your investment portfolio.Did you know that all rare gems were formed and perfected from mother earth over a million years? Yes! A million years! While for some that is just astronomical, for us it's about preserving the delicacy that it offers.We are here to bring you the knowledge, education and ultimately a timeless piece you can pass on for generations. </p>
        <br>
        <p>See you on Discord,</p>
        <p>Cipher Investments</p>
    </body>
</html>